body,html {
	margin:0;
	height:100%;
}
body {
	background-image: url(../imgs/matrix.jpg);
	background-size:contain;
}
html {
        overflow: hidden;
}
#sprite {
	margin-top: 3.2%;
	margin-left: 2.3%;
	position: absolute;
	height: 86.25vh;
	width: 45%;
}
#avatar {
	height: 100%;
	width: 100%;
}
#transparente{
	background-color: rgba(24,24,24,0.6);
	height:100%;
	position: absolute;
	width: 100%;
}
#opcoes{
	text-align: center;
	width: 45%;
	margin-left: 50%;
	margin-top: 3.2%;
	height: 86%;
	padding-top: 2.3%;
	background-color: rgba(255,255,255,0.8);
}
#opcoes h1 {
	margin-bottom: 10%;
	display: block;
	text-align: center;
	
	
}

#opcoes button {
	margin-bottom: 2.3%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	height: 20%;
}
#opcoes img {
	float: left;
	width: 10%;
	display: inline-block;
	

}
#botoes {
	height: 100%;
}

#dinheiro {
	color:green;

}
#opcoes label {
	text-align: center;
	font-size: 200%;
	display: block;
	margin-right: auto;
	margin-left: auto;

}

#opcoes input:disabled {
	color:gray;	
}
#enviar {
	margin-top: 15%;
}
input[type="text"]{

    display: inline-block;
    margin-left: 10%;
    width:50%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin:8% 0;
    outline: none;
    padding: 4%;
    box-sizing: border-box;
    transition: .3s;
    border-color:black;
}
input[type="text"]:focus{
    border-color: #66ff33;
    box-shadow: 0 0 8px 0 #66ff33;
}

#audio{
	height: 20%;
	background-color: white;
	width: 200px;
	padding: 0;
	position: absolute;
	visibility: hidden;
}

.vermelho {
	color:red;
}
.verde {
	color:green;
}
.toggle-nav{
	width: 50px;
	height: 50px;
	background-image: url('../imgs/hambmenu.png');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	cursor: pointer;
	
}
.nav-sidebar{
	z-index: 1000;
	position: fixed;;
	left: 25px;
	top: 52px;
	width: 225px;
	height: 150px;
	padding: 0 5px;
	background-color: white;
	visibility: hidden;

}
.nav-sidebar li{
	text-decoration: none;
	padding-top: 15px;

}
.nav-sidebar ul li{
	flex-wrap: wrap;
	line-height: 20px;
	list-style: none;
	white-space: nowrap;
}
