body,html {
	margin:0;
	height:100%;
}
body {
	background-image: url(../imgs/matrix3.gif);
	background-size:contain;
}

#sprite {
	margin-top: 3.2%;
	margin-left: 2.3%;
	position: absolute;
	height: 86.25vh;
	width: 45%;
}
#avatar {
	height: 100%;
	width: 100%;
}
#transparente{
	background-color: rgba(24,24,24,0.6);
	height:100%;
	position: absolute;
	width: 100%;
}
#opcoes{
	text-align: center;
	width: 45%;
	margin-left: 50%;
	margin-top: 3.2%;
	height: 86%;
	padding-top: 2.3%;
	background-color: rgba(255,255,255,0.8);
}
#opcoes h1 {
	margin-bottom: 10%;
	display: block;
	text-align: center;
	
	
}

#opcoes button {
	margin-bottom: 2.3%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	height: 20%;
}
#opcoes img {
	float: left;
	width: 10%;
	display: inline-block;
	

}
#botoes {
	height: 100%;
}

#dinheiro {
	color:green;

}
#opcoes label {
	text-align: center;
	font-size: 200%;
	display: block;
	margin-right: auto;
	margin-left: auto;

}

#opcoes input:disabled {
	color:gray;	
}
#enviar {
	margin-top: 15%;
}
input[type="text"]{

    display: inline-block;
    margin-left: 10%;
    width:50%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin:8% 0;
    outline: none;
    padding: 4%;
    box-sizing: border-box;
    transition: .3s;
    border-color:black;
}
input[type="text"]:focus{
    border-color: #66ff33;
    box-shadow: 0 0 8px 0 #66ff33;
}
#musica{
	width: 2%;
	z-index: 1;
	background-color: rgba(0,110,10,0.1);
	position: absolute;
}
#musica button img{
	height: 100%;
	width: 100%;

}